.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}
.loading {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
